DB - MongoDB connection URI (https://docs.mongodb.com/manual/reference/connection-string/).
GIN_MODE - "debug" or "release", recommended release for production; debug for development.
PORT - Application HTTP port, recommended 8080 as defined in docker-compose.yaml.
